---
---

@import "{{ site.theme }}";
header {
  display: none;
  top: 0;
  left: 0;
  width: 225px;
  position: absolute;
  float: left;
}

.masthead {  
   float: left;
   position: fixed;
   top: 0;
}

footer {
  display: none;
  position: fixed;
}

.section {
  margin-left: 190px;
}

section {
  margin-left: 190px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #c1c1c1;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #717171;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav asub {
  margin-left: 6px;
  padding: 6px 16px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #717171;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav atitle {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #212121;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .sidenav asub:hover {
  color: #212121;
}

/* Main content */
.main {
  font-size: 20px; /* Increased text to enable scrolling */
  float: right;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

.sidebar {overflow: auto}
